/*
body{

background-image: url("photos/bac.png");
background-repeat: no-repeat;
background-size: cover;
height:100vh;


}
.row{
  text-align:center;

}
.md{
  font-family: 'Merriweather', serif;
color:#fff;
  text-align: center;
}
*/
